integrations/agents/contact-form/contact-form-workflow-production.json
{
  "name": "Contact Form - AI Lead Qualification (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "📥 Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "webhookId": "contact-form-production"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_name",
              "leftValue": "={{ $json.body && $json.body.name && $json.body.name.length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has_email",
              "leftValue": "={{ $json.body && $json.body.email && $json.body.email.includes('@') }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has_message",
              "leftValue": "={{ $json.body && $json.body.message && $json.body.message.length > 10 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "✅ Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_response",
              "name": "response",
              "value": "={{ {\n  success: false,\n  error: 'INVALID_INPUT',\n  message: 'Please provide: name (required), email (valid), and message (minimum 10 characters)'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "❌ Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "send-error",
      "name": "Send Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name.trim() }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "website",
              "name": "website",
              "value": "={{ $json.body.website ? $json.body.website.trim() : 'Not provided' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message.trim() }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source || 'Website Contact Form' }}",
              "type": "string"
            },
            {
              "id": "utm_source",
              "name": "utm_source",
              "value": "={{ $json.body.utm_source || '' }}",
              "type": "string"
            },
            {
              "id": "utm_campaign",
              "name": "utm_campaign",
              "value": "={{ $json.body.utm_campaign || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "🔍 Extract & Clean Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        },
        "text": "=You are an expert B2B lead qualification specialist for NexOperandi.ai, an AI automation agency.\n\n**Contact Information:**\n- Name: {{ $json.name }}\n- Email: {{ $json.email }}\n- Website: {{ $json.website }}\n- Message: {{ $json.message }}\n\n**Analyze this lead and provide a JSON response with:**\n1. **Lead Score** (0-100): Based on automation fit\n2. **Priority** (High/Medium/Low): Urgency and deal potential\n3. **Intent**: What they're looking for (1 sentence)\n4. **Recommended Action**: Next step for sales team\n5. **Key Insights**: 2-3 bullet points about the lead\n6. **Signals**: Budget, urgency, and fit indicators\n\n**Scoring Guidelines:**\n- 70-100: Clear automation need, mentions AI/automation/efficiency, has website, enterprise signals\n- 40-69: General inquiry, some business context, could be qualified\n- 0-39: Vague request, no business context, likely spam/low quality\n\n**Return ONLY this JSON (no markdown, no extra text):**\n{\n  \"score\": 85,\n  \"priority\": \"High\",\n  \"intent\": \"Looking to automate customer service operations\",\n  \"action\": \"Schedule discovery call within 24 hours - strong fit\",\n  \"insights\": \"• Enterprise company with clear automation budget\\n• Urgent timeline mentioned\\n• Strong technical fit for our services\",\n  \"signals\": {\n    \"budget\": \"Enterprise indicators\",\n    \"urgency\": \"Mentioned timeline\",\n    \"fit\": \"Perfect match for AI automation\"\n  }\n}"
      },
      "id": "ai-qualification",
      "name": "🤖 AI Lead Qualification",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.10,
      "position": [900, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and combine with contact data\nconst aiResponse = $input.first().json.text || $input.first().json.response || '{}';\nconst contactData = $('🔍 Extract & Clean Data').first().json;\n\nlet qualification;\ntry {\n  // Extract JSON from AI response\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  qualification = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n  \n  // Validate required fields\n  if (!qualification || typeof qualification.score !== 'number') {\n    throw new Error('Invalid AI response format');\n  }\n} catch (error) {\n  // Fallback qualification\n  qualification = {\n    score: 50,\n    priority: 'Medium',\n    intent: 'General inquiry - manual review needed',\n    action: 'Review and respond within 24 hours',\n    insights: 'AI qualification unavailable - manual review required',\n    signals: {\n      budget: 'Unknown',\n      urgency: 'Unknown',\n      fit: 'Unknown'\n    }\n  };\n}\n\n// Priority emoji\nconst priorityEmoji = {\n  'High': '🔥',\n  'Medium': '⚡',\n  'Low': '📋'\n}[qualification.priority] || '📋';\n\n// Score color\nconst scoreColor = qualification.score >= 70 ? '#22c55e' : \n                   qualification.score >= 40 ? '#f59e0b' : '#ef4444';\n\nreturn {\n  json: {\n    // Contact data\n    name: contactData.name,\n    email: contactData.email,\n    website: contactData.website,\n    message: contactData.message,\n    timestamp: contactData.timestamp,\n    source: contactData.source,\n    utm_source: contactData.utm_source,\n    utm_campaign: contactData.utm_campaign,\n    \n    // AI qualification\n    lead_score: qualification.score,\n    priority: qualification.priority,\n    intent: qualification.intent,\n    action: qualification.action,\n    insights: qualification.insights,\n    budget_signals: qualification.signals.budget,\n    urgency_signals: qualification.signals.urgency,\n    fit_signals: qualification.signals.fit,\n    \n    // Display helpers\n    priority_emoji: priorityEmoji,\n    score_color: scoreColor,\n    \n    // Metadata\n    qualified_at: new Date().toISOString(),\n    ai_model: 'claude-3-5-haiku-20241022'\n  }\n};"
      },
      "id": "structure-data",
      "name": "📊 Structure Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contact Form Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "website": "={{ $json.website }}",
            "message": "={{ $json.message }}",
            "lead_score": "={{ $json.lead_score }}",
            "priority": "={{ $json.priority }}",
            "intent": "={{ $json.intent }}",
            "action": "={{ $json.action }}",
            "insights": "={{ $json.insights }}",
            "budget_signals": "={{ $json.budget_signals }}",
            "urgency_signals": "={{ $json.urgency_signals }}",
            "fit_signals": "={{ $json.fit_signals }}",
            "source": "={{ $json.source }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}"
          }
        },
        "options": {}
      },
      "id": "save-sheets",
      "name": "💾 Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "ecotoddlershop@gmail.com",
        "subject": "={{ $json.priority_emoji }} {{ $json.priority }} Priority Lead: {{ $json.name }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; margin: 0; padding: 0; background: #f5f5f5; }\n  .container { max-width: 600px; margin: 20px auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n  .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; }\n  .header h1 { color: white; margin: 0; font-size: 24px; font-weight: 600; }\n  .score-badge { display: inline-block; background: {{ $json.score_color }}; color: white; padding: 10px 20px; border-radius: 25px; font-weight: 600; margin-top: 15px; font-size: 16px; }\n  .content { padding: 30px; }\n  .section { margin-bottom: 25px; padding: 20px; background: #f8f9fa; border-radius: 8px; border-left: 4px solid {{ $json.score_color }}; }\n  .section-title { font-size: 14px; font-weight: 600; color: #667eea; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 15px 0; }\n  .field { margin-bottom: 12px; }\n  .label { font-size: 11px; font-weight: 600; color: #666; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 4px; }\n  .value { font-size: 15px; color: #333; }\n  .message-box { background: white; padding: 15px; border-radius: 6px; border: 1px solid #e0e0e0; font-style: italic; line-height: 1.6; }\n  .insights-box { background: #fff9e6; padding: 15px; border-radius: 6px; border-left: 3px solid #f59e0b; white-space: pre-line; }\n  .action-box { background: #e6f7ff; padding: 15px; border-radius: 6px; border-left: 3px solid #1890ff; font-weight: 500; }\n  .signals-grid { display: grid; grid-template-columns: 1fr; gap: 10px; margin-top: 10px; }\n  .signal { background: white; padding: 12px; border-radius: 6px; border: 1px solid #e0e0e0; }\n  .signal-label { font-size: 11px; font-weight: 600; color: #666; text-transform: uppercase; margin-bottom: 4px; }\n  .signal-value { font-size: 14px; color: #333; }\n  .cta-buttons { margin-top: 25px; text-align: center; }\n  .btn { display: inline-block; padding: 12px 24px; margin: 0 5px; text-decoration: none; border-radius: 6px; font-weight: 500; font-size: 14px; }\n  .btn-primary { background: #667eea; color: white; }\n  .btn-secondary { background: #64748b; color: white; }\n  .footer { text-align: center; padding: 20px; color: #999; font-size: 12px; border-top: 1px solid #e0e0e0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>{{ $json.priority_emoji }} New Lead Received</h1>\n    <div class=\"score-badge\">Score: {{ $json.lead_score }}/100 | {{ $json.priority }} Priority</div>\n  </div>\n  \n  <div class=\"content\">\n    <!-- Contact Info -->\n    <div class=\"section\">\n      <div class=\"section-title\">👤 Contact Information</div>\n      <div class=\"field\">\n        <div class=\"label\">Name</div>\n        <div class=\"value\">{{ $json.name }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Email</div>\n        <div class=\"value\"><a href=\"mailto:{{ $json.email }}\" style=\"color: #667eea;\">{{ $json.email }}</a></div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Website</div>\n        <div class=\"value\">{{ $json.website }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Submitted</div>\n        <div class=\"value\">{{ $json.timestamp }}</div>\n      </div>\n    </div>\n\n    <!-- Message -->\n    <div class=\"section\">\n      <div class=\"section-title\">💬 Their Message</div>\n      <div class=\"message-box\">{{ $json.message }}</div>\n    </div>\n\n    <!-- AI Qualification -->\n    <div class=\"section\">\n      <div class=\"section-title\">🤖 AI Qualification Results</div>\n      \n      <div class=\"field\">\n        <div class=\"label\">Business Intent</div>\n        <div class=\"value\">{{ $json.intent }}</div>\n      </div>\n\n      <div class=\"field\">\n        <div class=\"label\">Key Insights</div>\n        <div class=\"insights-box\">{{ $json.insights }}</div>\n      </div>\n\n      <div class=\"field\">\n        <div class=\"label\">Recommended Action</div>\n        <div class=\"action-box\">{{ $json.action }}</div>\n      </div>\n\n      <div class=\"signals-grid\">\n        <div class=\"signal\">\n          <div class=\"signal-label\">💰 Budget Signals</div>\n          <div class=\"signal-value\">{{ $json.budget_signals }}</div>\n        </div>\n        <div class=\"signal\">\n          <div class=\"signal-label\">⏰ Urgency Signals</div>\n          <div class=\"signal-value\">{{ $json.urgency_signals }}</div>\n        </div>\n        <div class=\"signal\">\n          <div class=\"signal-label\">✅ Service Fit</div>\n          <div class=\"signal-value\">{{ $json.fit_signals }}</div>\n        </div>\n      </div>\n    </div>\n\n    <!-- Quick Actions -->\n    <div class=\"cta-buttons\">\n      <a href=\"mailto:{{ $json.email }}?subject=Re: Your inquiry to NexOperandi&body=Hi {{ $json.name }},%0D%0A%0D%0AThank you for reaching out to NexOperandi!\" class=\"btn btn-primary\">📧 Reply to Lead</a>\n      <a href=\"{{ $json.website }}\" target=\"_blank\" class=\"btn btn-secondary\">🌐 Visit Website</a>\n    </div>\n  </div>\n\n  <div class=\"footer\">\n    🤖 AI-powered lead qualification by NexOperandi<br>\n    <a href=\"https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID_HERE\" style=\"color: #667eea; text-decoration: none;\">View all leads in Google Sheets →</a>\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "📧 Send Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Thank you! We\\'ve received your message and will respond within 24 hours.',\n  data: {\n    priority: $json.priority,\n    score: $json.lead_score,\n    timestamp: $json.timestamp\n  }\n} }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "✅ Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "📥 Contact Form Webhook": {
      "main": [
        [
          {
            "node": "✅ Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validate Required Fields": {
      "main": [
        [
          {
            "node": "🔍 Extract & Clean Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Error Response": {
      "main": [
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extract & Clean Data": {
      "main": [
        [
          {
            "node": "🤖 AI Lead Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Lead Qualification": {
      "main": [
        [
          {
            "node": "📊 Structure Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Structure Lead Data": {
      "main": [
        [
          {
            "node": "💾 Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "📧 Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save to Google Sheets": {
      "main": [
        [
          {
            "node": "✅ Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email Alert": {
      "main": [
        [
          {
            "node": "✅ Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Production"
    },
    {
      "name": "Contact Form"
    }
  ]
}
